PORT=5000
DATABASE_URL="file:./dev.db"
# For PostgreSQL use:
# DATABASE_URL="postgresql://user:password@localhost:5432/financetracker?schema=public"
JWT_SECRET="super-secret-jwt-key-finance-tracker-2026"
JWT_EXPIRES_IN="7d"
